<!DOCTYPE html>
<html lang="en" ng-app="sbhub">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dayton Small Business Hub">
    <meta name="author" content="Dave Caraway">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>SBHub - AFRL Small Business Hub</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/icomoon.css">


    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">


<div id="navbar-main">
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-globe" style="font-size:30px; color:#3498db;"></span>
                </button>
                <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="icon icon-globe"
                                                                               style="font-size:18px; color:#3498db;"></span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#find" class="smoothScroll">Find</a></li>
                    <li><a href="#events" class="smoothScroll">Events</a></li>
                    <li><a href="#team" class="smoothScroll">About</a></li>
                    <li><a href="#contact" class="smoothScroll">Contact</a></li>
                    <li><a href="https://github.com/18F/afsmallbiz/issues?labels=Product%3A+SBHUB&page=1&state=open"><span class="icon icon-alarm"></span>Give us feedback!</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
            <div class="beta hidden-xs">
                <h2>Beta</h2>
            </div>
            <div class="beta-small visible-xs">
                <h2>Beta</h2>
            </div>

        </div>
    </div>
</div>

<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" id="home" name="home">
    <header class="clearfix">
        <h1><span class="icon icon-globe"></span></h1>
        <abbr title="Air Force Research Laboratory"><h2>AFRL</h2></abbr>
        <p>Small Business Hub</p>
    </header>
</div>
<!-- /headerwrap -->

<!-- ==== Solicitations ==== -->
<div class="container" id="find" name="find" ng-controller="oppsCtrl">
    <h1 class="centered">Find Opportunities</h1>
    <hr>
    <div id="sidebar" class="col-sm-3 col-md-3" >
        <form id="opps-form" novalidate role="form" class="form-inline">
            <div id="form-search-grp">
                <label class="sr-only" for="q">Search</label>
                <input name="q" id="q" type="text" class="search-query" ng-model="filter.q" placeholder="Search..." autocomplete="off" >
                <button class="btn-primary" ng-click="filterChanged(filter)"><span class="glyphicon glyphicon-search"></span></button>
            </div>

            <div class="form-group"> 
                <a id="form-advanced-label" data-toggle="collapse" data-target="#form-advanced-options">
                    <label for="advanced-toggle">ADVANCED</label>
                    <button id="advanced-toggle" type="button" >+</button>
                </a>
            </div>

            <div id="form-advanced-options" class="collapse">

                <div class="checkbox">
                    <label>
                    <input id="show_closed" name="show_closed" type="checkbox" ng-model="filter.show_closed" ng-change="filterChanged(filter)"/> Show closed listings
                </label>
            </div>

            <div id="opps-form-src" class="checkbox form-group-more">
              <label>
                <input id="show_noncompeted" name="show_noncompeted" type="checkbox" ng-model="filter.show_noncompeted" ng-change="filterChanged(filter)" /> Show non-competed listings (sole source)
            </label>
        </div>

        <div id="opps-form-src">
          <label for="data_source">Data Source:</label>
          <select id="data_source" name="data_source" type="search" class="form-control" ng-model="filter.data_source" ng-change="filterChanged(filter)">
            <option value="">All</option>
            <option value="FBO">FedBizOpps (fbo.gov)</option>
            <option value="grants.gov">grants.gov</option>
        </select>

    </div>

</div>
</form>
</div>

 <div id="opps-found" class="col-md-9">
    <div id="results-topline" class="row">
    <div id="result-count" class="col-md-4 col-sm-4">
  {{ opps.numFound }} Search Results
    </div>
    <div id="results-sorted-by" class="col-md-4 col-sm-4">
        Sorted by relevancy
      </div>
    </div>
    <pagination total-items="opps.numFound" ng-model="currentPage" ng-change="pageChanged()" max-size="5" ng-show="!opps.numFound"></pagination>
  <div class="panel panel-info" ng-repeat="opp in opps.docs" shorten>
    <div class="panel-heading">
            <a href={{opp.listing_url}} target="_blank" class="text-danger">
               <b>{{ opp.title }}</b>
            </a>

            <div id="rel-score">
               -- Score {{ opp.score }}
            </div>
    </div>
    <div class="panel-body shorten">

            {{ opp.description }}

    </div>
    </div>   
    <pagination total-items="opps.numFound" ng-model="currentPage" ng-change="pageChanged()" max-size="5" ng-show="!opps.numFound"></pagination>
</div id="pagination-box">
</div id="opps-found">
</div id="find">

<!-- ==== SECTION DIVIDER6 ==== -->
<section id="events" class="section-divider textdivider divider6">
    <div class="container">
        <h1>Events Calendar</h1>

    <iframe src="https://www.google.com/calendar/embed?&amp;showTabs=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=pk1mfjo8l5nefeg2ohma2smpb0@group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FNew_York" style=" border-width:5 " width="500" height="300" frameborder="0" scrolling="no" class="container"></iframe>

    </div>
</section>

<!-- ==== TEAM MEMBERS ==== -->
<div class="container" id="team" name="team">
    <br> <div class="row white centered">
        <h1 class="centered">Meet Our Team</h1> <hr> <br> <br>
        <div class="col-lg-6 centered">
            <img class="img" src="assets/img/team/wbi_logo.png" height="120px" width="120px" alt="">
            <br>
            <h4><b>Wright Brothers Institute</b></h4>
            <a href="http://www.wbi-icc.com" class="icon icon-home"></a>
            <a href="http://wbi-icc.com/wp-content/themes/wbi/images/facebook.jpg" class="icon icon-facebook"></a>
            <p>A leader in applying advanced innovation tools, processes, environments and multidisciplinary collaborations to solve challenging problems.</p>
        </div><!-- col-lg-6 -->

        <div class="col-lg-6 centered">
            <img class="img" src="assets/img/team/afrl_logo.jpg" height="120px" width="120px" alt="">
            <br>
            <h4><b>Air Force Research Laboratory (AFRL)</b></h4>
            <a href="http://www.wpafb.af.mil/AFRL/" class="icon icon-home"></a>
            <a href="https://twitter.com/Team_AFRL" class="icon icon-twitter"></a>
            <a href="http://www.facebook.com/pages/Team-AFRL/169321689771166" class="icon icon-facebook"></a>
            <a href="http://www.youtube.com/user/afrlcorpcomm" class="icon icon-youtube"></a>
            <p>AFRL is the Air Force's only organization wholly dedicated to leading the discovery, development, and integration of warfighting technologies for our air, space and cyberspace forces.</p>
        </div><!-- col-lg-3 -->

    </div><!-- row -->
</div><!-- container -->

<!-- ==== SECTION DIVIDER6 ==== -->
<section class="section-divider"></section>
<!-- section -->

<div class="container" id="contact" name="contact">
    <div class="row">
        <br>

        <h1 class="centered">THANKS FOR VISITING US</h1>
        <hr>
        <br>
        <br>

        <div class="col-lg-6">
            <h3>Contact Information</h3>

            <p><span class="icon icon-home"></span><a href="https://www.google.com/maps/place/5000+Springfield+St+%23100/@39.780804,-84.118616,17z/data=!3m1!4b1!4m2!3m1!1s0x8840833ccbd51955:0x4a906b6f4b9f40c" target="_blank">5000 Springfield St #100, Dayton, OH 45431</a><br/>
                <span class="icon icon-phone"></span>(937) 424-8861<br/>
                </a><span class="icon icon-envelop"></span><a href="mailto:afrlsbhub@wbi-icc.com">afrlsbhub@wbi-icc.com</a></a><br/>
                <span class="icon icon-facebook"></span> <a href="https://www.facebook.com/pages/Wright-Brothers-Institute/367084996714235" target="_blank"> AFRL SB Hub</a> <br/>
            </p>
        </div>
        <!-- col -->

        <div class="col-lg-6">
            <h3>About Us</h3>

            <p>We're a group of organizations bent on increasing the participation of small business in Air Force acquisitions.</p>
        </div>
        <!-- col -->

    </div>
    <!-- row -->

</div>
<!-- container -->

<div id="footerwrap">
    <div class="container">
        <h4>Site by <a href="http://18f.gsa.gov">18F</a>, original theme by <a href="http://blacktie.co">BlackTie.co</a></h4>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
<script type="text/javascript" src="assets/js/sbhub.js"></script>
<script type="text/javascript" src="assets/js/modernizr.custom.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.shorten.js"></script>
<script src="assets/js/ui-bootstrap-tpls-0.11.0.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48605964-5', 'wbi-icc.com');
  ga('send', 'pageview');

</script>


</body>
</html>