app/frontend/static/js/sbirez.min.js
app/frontend/static/css/sbirez.min.css
app/frontend/static/.webassets-cache/
app/frontend/static/js/bundled/
.DS_Store
scrapeddata
bower_components
node_modules
build
env
.idea
dist
*.swp
*.log
*.pyc
*.db
*.egg-info
*.lock
app/frontend/static
