frontend/static/js/sbirez.min.js
frontend/static/css/sbirez.min.css
frontend/static/.webassets-cache/
frontend/static/js/bundled/
.DS_Store
scrapeddata
bower_components
node_modules
build
env
.idea
dist
*.swp
*.log
*.pyc
*.db
*.egg-info
*.lock
frontend/static
