<div class="container" ng-controller="RegisterCtrl">
    <h1>Register</h1>

    <form name="registerForm" novalidate role="form" ng-submit="register(registerForm.$valid)">
        <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{ alert.msg }}</alert>

        <div class="form-group">
            <label>Email</label>
            <input name="email" type="email" class="form-control" required ng-model="user.email">
              <span class="help-block" ng-show="registerForm.email.$dirty && registerForm.email.$error.required">
      Required!</span>
    <span class="help-block" ng-show="registerForm.email.$dirty && registerForm.email.$error.email">
      Not valid email!</span>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" required ng-minlength="5"
                   ng-model="user.password">
            <!--       <button ng-click="displayPassword = !displayPassword" ng-if="displayPassword">{{ true: 'Show', false: 'Hide' }} Password</button> -->
                      <span class="help-block"
                            ng-show="registerForm.password.$dirty && registerForm.password.$error.required">
      Required!</span>

            <p ng-show="registerForm.password.$dirty && registerForm.password.$error.minlength" class="help-block">
                Password is too short.</p>
        </div>

        <button id="registerSubmit" type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">Register
        </button>
    </form>
</div>

