<div id="ops-body"  ng-controller="OppsCtrl">
   <div id="opps-found" >
      <div id="results-topline" class="row">
         <div id="result-count" class="text-center">
            {{ ss.hits }} Search Results
         </div>
      </div>

      <div id="filter" class="col-md-3">
      <h3 class="text-center"><i class="fa fa-filter"></i> Filters</h3>
                <form id="searchForm" name="searchForm" novalidate role="search" class="form-inline">

               <div class="checkbox">
                  <label>
                  <input id="show_closed" name="show_closed" type="checkbox" ng-model="ss.filter.show_closed" ng-change="ss.getOpps()"/> Show closed listings
                  </label>
               </div>
               <div id="opps-form-src" class="checkbox form-group-more">
                  <label>
                  <input id="show_noncompeted" name="show_noncompeted" type="checkbox" ng-model="ss.filter.show_noncompeted" ng-change="ss.getOpps()" /> Show non-competed listings (sole source)
                  </label>
               </div>
               <div id="opps-form-src">
                  <label for="data_source">Data Source:</label>
                  <select id="data_source" name="data_source" type="search" class="form-control" ng-model="ss.filter.data_source" ng-change="ss.getOpps()">
                     <option value="">All</option>
                     <option value="FBO">FedBizOpps (fbo.gov)</option>
                     <option value="grants.gov">grants.gov</option>
                  </select>
               </div>

                </form>
            </div>

      <div  id="search-results" class="col-md-9" infinite-scroll="ss.getOpps(true)" infinite-scroll-disabled='ss.isLoading || !ss.hasNextPage' infinite-scroll-distance="2">

         <div class="row">
            <div class="panel panel-info col-md-4" ng-repeat-start="opp in ss.opps" >
               <div class="panel-heading">
                  <a href={{opp.listing_url}} target="_blank" class="text-danger">
                  <b>{{ opp.title | characters: oppsTitleMaxCharacters}}</b>
                  </a>
               </div>
               <div class="panel-body shorten" shorten>
                  {{ opp.description | characters: oppsBodyMaxCharacters }}
               </div>
            </div>
            <div class="clearfix" ng-if="$index%3==2"></div>
            <div ng-repeat-end></div>
         </div>
      </div>
   </div>
   <div ng-show="ss.isLoading">Loading data...</div>
</div>
