h3 
  .pull-right.text-center
    div(sparkline="", data-bar-color="#cfdbe2", data-height="20", data-bar-width="3", data-bar-spacing="2", values="1,0,4,9,5,7,8,9,5,7,8,4,7")
  | Flot charts

.container-fluid(ng-controller="FlotChartController")
  // START row
  .row
    .col-lg-6
      #panelChart1.panel.panel-default
        .panel-heading
          paneltool(tool-collapse, tool-dismiss, tool-refresh="traditional")
          .panel-title Area
        .panel-wrapper(collapse="panelChart1")
          .panel-body
            .chart-area.flot-chart(data-source="server/chart-data.php?type=area")
    .col-lg-6
      #panelChart9.panel.panel-default
        .panel-heading
          paneltool(tool-collapse, tool-dismiss, tool-refresh="traditional")
          .panel-title Area Spline
        .panel-wrapper(collapse="panelChart9")
          .panel-body
            .chart-spline.flot-chart(data-source="server/chart-data.php?type=spline")
  // END row

  // START row
  .row
    .col-lg-6
      #panelChart2.panel.panel-default
        .panel-heading
          paneltool(tool-collapse, tool-dismiss)
          .panel-title Bar
        .panel-wrapper(collapse="panelChart2")
          .panel-body
            .chart-bar.flot-chart(data-source="server/chart-data.php?type=bar")
    .col-lg-6
      #panelChart3.panel.panel-default
        .panel-heading
          paneltool(tool-collapse, tool-dismiss)
          .panel-title Bar - Stacked
        .panel-wrapper(collapse="panelChart3")
          .panel-body
            .indicator.show
              span.spinner
            .chart-bar-stacked.flot-chart(data-source="server/chart-data.php?type=barstacked")
  // END row
  // START row
  .row
    .col-lg-12
      #panelChart4.panel.panel-default
        .panel-heading
          paneltool(tool-collapse, tool-dismiss)
          .panel-title Line
        .panel-wrapper(collapse="panelChart4")
          .panel-body
            .chart-line.flot-chart(data-source="server/chart-data.php?type=line")
  // END row
  // START row
  .row
    .col-md-6
      #panelChart5.panel.panel-default
        .panel-heading
          paneltool(tool-collapse, tool-dismiss)
          .panel-title Pie
        .panel-wrapper(collapse="panelChart5")
          .panel-body
            .chart-pie.flot-chart(data-source="server/chart-data.php?type=pie")
    .col-md-6
      #panelChart6.panel.panel-default
        .panel-heading
          paneltool(tool-collapse, tool-dismiss)
          .panel-title Donut 
            small (loaded from json)
        .panel-wrapper(collapse="panelChart6")
          .panel-body
            .chart-donut.flot-chart(data-source="server/chart-data-donut.json")
  // END row
