h3 Form Extended
  small New elements to extend the classic functions
// START panel
.panel.panel-default
    .panel-heading  Form elements 
    .panel-body
      form.form-horizontal(method='get', ng-controller="FormDemoCtrl")

        fieldset
          legend New Components
          .form-group
            label.col-sm-2.control-label
              | Slider
              br
              small Classic, range and vertical
            .col-sm-4
              input.slider.slider-vertical.form-control(ui-slider="", type='text', value='', data-slider-min='5', data-slider-max='35', data-slider-step='1', data-slider-value='5', data-slider-orientation='vertical')
              input.slider.slider-vertical.form-control(ui-slider="", type='text', value='', data-slider-min='5', data-slider-max='35', data-slider-step='1', data-slider-value='10', data-slider-orientation='vertical')
              input.slider.slider-vertical.form-control(ui-slider="", type='text', value='', data-slider-min='5', data-slider-max='35', data-slider-step='1', data-slider-value='15', data-slider-orientation='vertical')
              input.slider.slider-vertical.form-control(ui-slider="", type='text', value='', data-slider-min='5', data-slider-max='35', data-slider-step='1', data-slider-value='20', data-slider-orientation='vertical')
              input.slider.slider-vertical.form-control(ui-slider="", type='text', value='', data-slider-min='5', data-slider-max='35', data-slider-step='1', data-slider-value='25', data-slider-orientation='vertical')
              input.slider.slider-vertical.form-control(ui-slider="", type='text', value='', data-slider-min='5', data-slider-max='35', data-slider-step='1', data-slider-value='30', data-slider-orientation='vertical')
              br
              br
              input.slider.slider-horizontal.form-control(ui-slider="", type='text', value='', data-slider-min='5', data-slider-max='20', data-slider-step='1', data-slider-value='10', data-slider-orientation='horizontal')
              br
              br
              input#sl2.slider.form-control(ui-slider="", type='text', value='', data-slider-min='10', data-slider-max='1000', data-slider-step='5', data-slider-value='[250,750]')

        fieldset
          .form-group
            label.col-sm-2.control-label Switch Small
            .col-sm-10
              label.switch.switch-sm
                input(type='checkbox', checked="checked")
                span
          .form-group
            label.col-sm-2.control-label Switch
            .col-sm-10
              label.switch
                input(type='checkbox', checked="checked")
                span
          .form-group
            label.col-sm-2.control-label Switch Large
            .col-sm-10
              label.switch.switch-lg
                input(type='checkbox', checked="checked")
                span
          .form-group
            label.col-sm-2.control-label Switch Radio
            .col-sm-10
              label.switch.switch-lg
                input(type='radio', checked="checked", name="radioSwitch")
                span
              label.switch.switch-lg
                input(type='radio', name="radioSwitch")
                span
        fieldset
          .form-group
            label.col-sm-2.control-label Chosen
            .col-sm-10
              select.chosen-select.input-md(chosen="")
                optgroup(label='Alaskan/Hawaiian Time Zone')
                  option(value='AK') Alaska
                  option(value='HI') Hawaii
                optgroup(label='Pacific Time Zone')
                  option(value='CA') California
                  option(value='NV') Nevada
                  option(value='OR') Oregon
                  option(value='WA') Washington
                optgroup(label='Mountain Time Zone')
                  option(value='AZ') Arizona
                  option(value='CO') Colorado
                  option(value='ID') Idaho
                  option(value='MT') Montana
                  option(value='NE') Nebraska
                  option(value='NM') New Mexico
                  option(value='ND') North Dakota
                  option(value='UT') Utah
                  option(value='WY') Wyoming
                optgroup(label='Central Time Zone')
                  option(value='AL') Alabama
                  option(value='AR') Arkansas
                  option(value='IL') Illinois
                  option(value='IA') Iowa
                  option(value='KS') Kansas
                  option(value='KY') Kentucky
                  option(value='LA') Louisiana
                  option(value='MN') Minnesota
                  option(value='MS') Mississippi
                  option(value='MO') Missouri
                  option(value='OK') Oklahoma
                  option(value='SD') South Dakota
                  option(value='TX') Texas
                  option(value='TN') Tennessee
                  option(value='WI') Wisconsin
                optgroup(label='Eastern Time Zone')
                  option(value='CT') Connecticut
                  option(value='DE') Delaware
                  option(value='FL') Florida
                  option(value='GA') Georgia
                  option(value='IN') Indiana
                  option(value='ME') Maine
                  option(value='MD') Maryland
                  option(value='MA') Massachusetts
                  option(value='MI') Michigan
                  option(value='NH') New Hampshire
                  option(value='NJ') New Jersey
                  option(value='NY') New York
                  option(value='NC') North Carolina
                  option(value='OH') Ohio
                  option(value='PA') Pennsylvania
                  option(value='RI') Rhode Island
                  option(value='SC') South Carolina
                  option(value='VT') Vermont
                  option(value='VA') Virginia
                  option(value='WV') West Virginia

        fieldset
          .form-group
            label.col-sm-2.control-label Chosen multiple
            .col-sm-10
              select.chosen-select.input-md(multiple='', chosen='', ng-model='state', ng-options='s for s in states')
        fieldset
          .form-group
            label.col-sm-2.control-label Masked input
            .col-sm-10
              .row
                .col-sm-6
                  input.form-control(type='text', masked="", data-inputmask="'mask': '999-99-999-9999-9'", placeholder="ISBN") 
                  span.help-block data-inputmask="'mask': '999-99-999-9999-9"'
                .col-sm-6
                  input.form-control(type='text', masked="", data-inputmask="'mask': '99/99/9999'", placeholder="Date") 
                  span.help-block data-inputmask="'mask': '99/99/9999"'
                .col-sm-6
                  input.form-control(type='text', masked="", data-inputmask="'mask': '(999) 999-9999'", placeholder="Phone number") 
                  span.help-block data-inputmask="'mask': '(999) 999-9999"'
                .col-sm-6
                  input.form-control(type='text', masked="", data-inputmask="'mask': 'aaaa-9999-aa99-9999'", placeholder="Custom Key") 
                  span.help-block data-inputmask="'mask': 'aaaa-9999-aa99-9999"'
                .col-sm-6
                  input.form-control(type='text', masked="", data-inputmask="'mask': '$ 999.999.999,99'", placeholder="Currency Dolar") 
                  span.help-block data-inputmask="'mask': '$ 999.999.999,99"'
                .col-sm-6
                  input.form-control(type='text', masked="", data-inputmask="'mask': '€ 999.999.999,99'", placeholder="Currency Euro") 
                  span.help-block data-inputmask="'mask': '€ 999.999.999,99"'

        fieldset
          .form-group
            label.col-sm-2.control-label Tags input
            .col-sm-10
              input.form-control(type='text', tagsinput, value="Amsterdam,Washington,Sydney,Beijing,Cairo") 
              span.help-block Type and press Enter

        fieldset
          .form-group
            label.col-sm-2.control-label File input
            .col-sm-10
              input.form-control(filestyle="", type='file', data-classbutton='btn btn-default', data-classinput="form-control inline")

        fieldset
          .form-group
            label.col-sm-2.control-label Angular Simple wysiwyg
            .col-sm-10
              script(type='text/ng-template', id="ng-wig/views/ng-wig.html")
                .ng-wig
                  .btn-group.btn-group-sm.wd-wide
                    button.btn.btn-sm.btn-default(type='button', title='Header', ng-click="execCommand('formatblock', '<h1>')")
                      em.fa.fa-header
                    button.btn.btn-sm.btn-default(type='button', title='Paragraph', ng-click="execCommand('formatblock', '<p>')")
                      em.fa.fa-paragraph
                    button.btn.btn-sm.btn-default(type='button', title='Unordered List', ng-click="execCommand('insertunorderedlist')")
                      em.fa.fa-list-ul
                    button.btn.btn-sm.btn-default(type='button', title='Ordered List', ng-click="execCommand('insertorderedlist')")
                      em.fa.fa-list-ol
                    button.btn.btn-sm.btn-default(type='button', title='Bold', ng-click="execCommand('bold')")
                      em.fa.fa-bold
                    button.btn.btn-sm.btn-default(type='button', title='Italic', ng-click="execCommand('italic')")
                      em.fa.fa-italic
                    button.btn.btn-sm.btn-default(type='button', title='link', ng-click="execCommand('createlink')")
                      em.fa.fa-link
                    button.pull-right.btn.btn-sm.btn-default(type='button', title="Edit Html" ng-class="{ 'nw-button--active': editMode }", ng-click='toggleEditMode()')
                      em.fa.fa-pencil
                  .nw-editor
                    textarea.nw-editor__src(ng-show="editMode", ng-model="content") 
                    iframe.nw-editor__res(scrolling="{{ autoexpand ? 'no' : 'yes' }}", frameBorder="0", ng-hide="editMode", ng-model="content", ng-wig-editable='')
              textarea(ng-wig="content") 
        fieldset
          .form-group
            label.col-sm-2.control-label Markdown area
              br
              small (live preview editor)
            .col-sm-10
              textarea(markdownarea="{mode:'tab'}") # Type here
        fieldset
          .form-group
            .col-sm-4.col-sm-offset-2
              button.btn.btn-default(type='submit') Cancel
              button.btn.btn-primary(type='submit') Save changes
// END panel