h3 Form Upload

// START panel
.panel.panel-default(ng-controller="FileUploadController")
  .panel-heading Uploads
  .panel-body
    form.form-horizontal(method='get')
      fieldset
        .form-group
          .col-sm-2
            #upload-drop.box-placeholder.text-center
                p: em.fa.fa-cloud-upload.fa-2x
                |  Upload files by dropping them here or 
                .btn-link.form-file
                  | selecting one
                  input#upload-select(type='file', name="upfile")
            #progressbar.progress.hidden
                .progress-bar(role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100')
          .col-sm-10
            ul.list-group
              li.list-group-item.lead.text-muted.text-center(ng-show='!fileUploadList.length') No files for upload..
              li.list-group-item.hover-visible(ng-repeat="f in fileUploadList") {{f.file}}
                a(href="#", ng-click="removeFile($index)").pull-right.hover-hidden
                  em.fa.fa-times.fa-lg.text-muted
            .text-right(ng-show='fileUploadList.length')
              button.btn.btn-primary(type="button") Confirm
.text-muted
  small This demo version doesn't store files on the server. Works only on Latest Chrome, Firefox, Safari, Opera &amp; IE +10