#Scraper libraries
scrapy==0.24.4
twisted==14.0.2
w3lib==1.10.0
address==0.1.1
zope.interface==4.1.1
cryptography==0.6.1
requests==2.5.0
cssselect==0.9.1
phonenumbers==7.0.1
service-identity==14.0.0
lxml==3.4.1

#ScrapingHub Commandline client
shub==1.1.1
scrapyd==1.0.1