<h3>Weather Icons
   <small>Static and animated weather themed icons, ready to be dropped right into your project.</small>
</h3>
<div class="row">
   <div class="col-sm-12">
      <h4 class="page-header mt0">Skycons</h4>
      <div class="row">
         <div class="col-xs-3">
            <div skycon="clear-day" color="#888" width="60" height="60" class="center-block"></div>
            <p>
               <code>clear-day</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="clear-night" color="#888" width="60" height="60" class="center-block"></div>
            <p>
               <code>clear-night</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="partly-cloudy-day" color="#888" width="60" height="60" class="center-block"></div>
            <p>
               <code>partly-cloudy-day</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="partly-cloudy-night" color="#888" width="60" height="60" class="center-block"></div>
            <p>
               <code>partly-cloudy-night</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="cloudy" color="#888" width="60" height="60" class="center-block"></div>
            <p>
               <code>cloudy</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="rain" color="#888" width="60" height="60" class="center-block"></div>
            <p>
               <code>rain</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="sleet" color="#888" width="60" height="60" class="center-block"></div>
            <p>
               <code>sleet</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="snow" color="#888" width="60" height="60" class="center-block"></div>
            <p>
               <code>snow</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="wind" color="#888" width="60" height="60" class="center-block"></div>
            <p>
               <code>wind</code>
            </p>
         </div>
         <div class="col-xs-3">
            <div skycon="fog" color="#888" width="60" height="60" class="center-block"></div>
            <p>
               <code>fog</code>
            </p>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <h4 class="page-header">New v1.2</h4>
   </div>
</div>
<div class="row">
   <div class="col-sm-4">
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-smoke"></i>
         </div>
         <div class="col-xs-11">wi-smoke</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-dust"></i>
         </div>
         <div class="col-xs-11">wi-dust</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-snow-wind"></i>
         </div>
         <div class="col-xs-11">wi-snow-wind</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-snow-wind"></i>
         </div>
         <div class="col-xs-11">wi-day-snow-wind</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-snow-wind"></i>
         </div>
         <div class="col-xs-11">wi-night-snow-wind</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-alt-snow-wind"></i>
         </div>
         <div class="col-xs-11">wi-night-alt-snow-wind</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-sleet-storm"></i>
         </div>
         <div class="col-xs-11">wi-day-sleet-storm</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-sleet-storm"></i>
         </div>
         <div class="col-xs-11">wi-night-sleet-storm</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-alt-sleet-storm"></i>
         </div>
         <div class="col-xs-11">wi-night-alt-sleet-storm</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-snow-thunderstorm"></i>
         </div>
         <div class="col-xs-11">wi-day-snow-thunderstorm</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-snow-thunderstorm"></i>
         </div>
         <div class="col-xs-11">wi-night-snow-thunderstorm</div>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-alt-snow-thunderstorm"></i>
         </div>
         <div class="col-xs-11">wi-night-alt-snow-thunderstorm</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-solar-eclipse"></i>
         </div>
         <div class="col-xs-11">wi-solar-eclipse</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-lunar-eclipse"></i>
         </div>
         <div class="col-xs-11">wi-lunar-eclipse</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-meteor"></i>
         </div>
         <div class="col-xs-11">wi-meteor</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-hot"></i>
         </div>
         <div class="col-xs-11">wi-hot</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-hurricane"></i>
         </div>
         <div class="col-xs-11">wi-hurricane</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-smog"></i>
         </div>
         <div class="col-xs-11">wi-smog</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-alien"></i>
         </div>
         <div class="col-xs-11">wi-alien</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-snowflake-cold"></i>
         </div>
         <div class="col-xs-11">wi-snowflake-cold</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-stars"></i>
         </div>
         <div class="col-xs-11">wi-stars</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-partly-cloudy"></i>
         </div>
         <div class="col-xs-11">night-partly-cloudy</div>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-moon-full"></i>
         </div>
         <div class="col-xs-11">wi-moon-full</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-moon-waxing-gibbous"></i>
         </div>
         <div class="col-xs-11">wi-moon-waxing-gibbous</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-moon-waxing-quarter"></i>
         </div>
         <div class="col-xs-11">wi-moon-waxing-quarter</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-moon-waxing-crescent"></i>
         </div>
         <div class="col-xs-11">wi-moon-waxing-crescent</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-moon-young"></i>
         </div>
         <div class="col-xs-11">wi-moon-young</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-moon-new"></i>
         </div>
         <div class="col-xs-11">wi-moon-new</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-moon-old"></i>
         </div>
         <div class="col-xs-11">wi-moon-old</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-moon-waning-crescent"></i>
         </div>
         <div class="col-xs-11">wi-moon-waning-crescent</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-moon-waning-quarter"></i>
         </div>
         <div class="col-xs-11">wi-moon-waning-quarter</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-moon-waning-gibbous"></i>
         </div>
         <div class="col-xs-11">wi-moon-waning-gibbous</div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <h4 class="page-header">Day / Sunny</h4>
   </div>
</div>
<div class="row">
   <div class="col-sm-4">
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-cloudy-gusts"></i>
         </div>
         <div class="col-xs-11">wi-day-cloudy-gusts</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-cloudy-windy"></i>
         </div>
         <div class="col-xs-11">wi-day-cloudy-windy</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-cloudy"></i>
         </div>
         <div class="col-xs-11">wi-day-cloudy</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-fog"></i>
         </div>
         <div class="col-xs-11">wi-day-fog</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-hail"></i>
         </div>
         <div class="col-xs-11">wi-day-hail</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-lightning"></i>
         </div>
         <div class="col-xs-11">wi-day-lightning</div>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-rain-mix"></i>
         </div>
         <div class="col-xs-11">wi-day-rain-mix</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-rain-wind"></i>
         </div>
         <div class="col-xs-11">wi-day-rain-wind</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-rain"></i>
         </div>
         <div class="col-xs-11">wi-day-rain</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-showers"></i>
         </div>
         <div class="col-xs-11">wi-day-showers</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-snow"></i>
         </div>
         <div class="col-xs-11">wi-day-snow</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-sprinkle"></i>
         </div>
         <div class="col-xs-11">wi-day-sprinkle</div>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-sunny-overcast"></i>
         </div>
         <div class="col-xs-11">wi-day-sunny-overcast</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-sunny"></i>
         </div>
         <div class="col-xs-11">wi-day-sunny</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-storm-showers"></i>
         </div>
         <div class="col-xs-11">wi-day-storm-showers</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-day-thunderstorm"></i>
         </div>
         <div class="col-xs-11">wi-day-thunderstorm</div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <h4 class="page-header">Neutral / Cloudy</h4>
   </div>
</div>
<div class="row">
   <div class="col-sm-4">
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-cloudy-gusts"></i>
         </div>
         <div class="col-xs-11">wi-cloudy-gusts</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-cloudy-windy"></i>
         </div>
         <div class="col-xs-11">wi-cloudy-windy</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-cloudy"></i>
         </div>
         <div class="col-xs-11">wi-cloudy</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-fog"></i>
         </div>
         <div class="col-xs-11">wi-fog</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-hail"></i>
         </div>
         <div class="col-xs-11">wi-hail</div>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-lightning"></i>
         </div>
         <div class="col-xs-11">wi-lightning</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-rain-mix"></i>
         </div>
         <div class="col-xs-11">wi-rain-mix</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-rain-wind"></i>
         </div>
         <div class="col-xs-11">wi-rain-wind</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-rain"></i>
         </div>
         <div class="col-xs-11">wi-rain</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-showers"></i>
         </div>
         <div class="col-xs-11">wi-showers</div>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-snow"></i>
         </div>
         <div class="col-xs-11">wi-snow</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-sprinkle"></i>
         </div>
         <div class="col-xs-11">wi-sprinkle</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-storm-showers"></i>
         </div>
         <div class="col-xs-11">wi-storm-showers</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-thunderstorm"></i>
         </div>
         <div class="col-xs-11">wi-thunderstorm</div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <h4 class="page-header">Night / Moons</h4>
   </div>
</div>
<div class="row">
   <div class="col-sm-4">
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-alt-cloudy-gusts"></i>
         </div>
         <div class="col-xs-11">wi-night-alt-cloudy-gusts</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-alt-cloudy-windy"></i>
         </div>
         <div class="col-xs-11">wi-night-alt-cloudy-windy</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-alt-hail"></i>
         </div>
         <div class="col-xs-11">wi-night-alt-hail</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-alt-lightning"></i>
         </div>
         <div class="col-xs-11">wi-night-alt-lightning</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-alt-rain-mix"></i>
         </div>
         <div class="col-xs-11">wi-night-alt-rain-mix</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-alt-rain-wind"></i>
         </div>
         <div class="col-xs-11">wi-night-alt-rain-wind</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-alt-rain"></i>
         </div>
         <div class="col-xs-11">wi-night-alt-rain</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-alt-showers"></i>
         </div>
         <div class="col-xs-11">wi-night-alt-showers</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-alt-snow"></i>
         </div>
         <div class="col-xs-11">wi-night-alt-snow</div>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-alt-sprinkle"></i>
         </div>
         <div class="col-xs-11">wi-night-alt-sprinkle</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-alt-storm-showers"></i>
         </div>
         <div class="col-xs-11">wi-night-alt-storm-showers</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-alt-thunderstorm"></i>
         </div>
         <div class="col-xs-11">wi-night-alt-thunderstorm</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-clear"></i>
         </div>
         <div class="col-xs-11">wi-night-clear</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-cloudy-gusts"></i>
         </div>
         <div class="col-xs-11">wi-night-cloudy-gusts</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-cloudy-windy"></i>
         </div>
         <div class="col-xs-11">wi-night-cloudy-windy</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-cloudy"></i>
         </div>
         <div class="col-xs-11">wi-night-cloudy</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-hail"></i>
         </div>
         <div class="col-xs-11">wi-night-hail</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-lightning"></i>
         </div>
         <div class="col-xs-11">wi-night-lightning</div>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-rain-mix"></i>
         </div>
         <div class="col-xs-11">wi-night-rain-mix</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-rain-wind"></i>
         </div>
         <div class="col-xs-11">wi-night-rain-wind</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-rain"></i>
         </div>
         <div class="col-xs-11">wi-night-rain</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-showers"></i>
         </div>
         <div class="col-xs-11">wi-night-showers</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-snow"></i>
         </div>
         <div class="col-xs-11">wi-night-snow</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-sprinkle"></i>
         </div>
         <div class="col-xs-11">wi-night-sprinkle</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-storm-showers"></i>
         </div>
         <div class="col-xs-11">wi-night-storm-showers</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-thunderstorm"></i>
         </div>
         <div class="col-xs-11">wi-night-thunderstorm</div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-12">
      <h4 class="page-header">Miscellaneous Weather</h4>
   </div>
</div>
<div class="row">
   <div class="col-sm-4">
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-celsius"></i>
         </div>
         <div class="col-xs-11">wi-celsius</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-cloud-down"></i>
         </div>
         <div class="col-xs-11">wi-cloud-down</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-cloud-refresh"></i>
         </div>
         <div class="col-xs-11">wi-cloud-refresh</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-cloud-up"></i>
         </div>
         <div class="col-xs-11">wi-cloud-up</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-cloud"></i>
         </div>
         <div class="col-xs-11">wi-cloud</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-degrees"></i>
         </div>
         <div class="col-xs-11">wi-degrees</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-down-left"></i>
         </div>
         <div class="col-xs-11">wi-down-left</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-down"></i>
         </div>
         <div class="col-xs-11">wi-down</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-fahrenheit"></i>
         </div>
         <div class="col-xs-11">wi-fahrenheit</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-horizon-alt"></i>
         </div>
         <div class="col-xs-11">wi-horizon-alt</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-horizon"></i>
         </div>
         <div class="col-xs-11">wi-horizon</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-left"></i>
         </div>
         <div class="col-xs-11">wi-left</div>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-lightning"></i>
         </div>
         <div class="col-xs-11">wi-lightning</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-night-fog"></i>
         </div>
         <div class="col-xs-11">wi-night-fog</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-refresh-alt"></i>
         </div>
         <div class="col-xs-11">wi-refresh-alt</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-refresh"></i>
         </div>
         <div class="col-xs-11">wi-refresh</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-right"></i>
         </div>
         <div class="col-xs-11">wi-right</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-sprinkles"></i>
         </div>
         <div class="col-xs-11">wi-sprinkles</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-strong-wind"></i>
         </div>
         <div class="col-xs-11">wi-strong-wind</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-sunrise"></i>
         </div>
         <div class="col-xs-11">wi-sunrise</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-sunset"></i>
         </div>
         <div class="col-xs-11">wi-sunset</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-thermometer-exterior"></i>
         </div>
         <div class="col-xs-11">wi-thermometer-exterior</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-thermometer-internal"></i>
         </div>
         <div class="col-xs-11">wi-thermometer-internal</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-thermometer"></i>
         </div>
         <div class="col-xs-11">wi-thermometer</div>
      </div>
   </div>
   <div class="col-sm-4">
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-tornado"></i>
         </div>
         <div class="col-xs-11">wi-tornado</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-up-right"></i>
         </div>
         <div class="col-xs-11">wi-up-right</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-up"></i>
         </div>
         <div class="col-xs-11">wi-up</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-wind-east"></i>
         </div>
         <div class="col-xs-11">wi-wind-east</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-wind-north-east"></i>
         </div>
         <div class="col-xs-11">wi-wind-north-east</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-wind-north-west"></i>
         </div>
         <div class="col-xs-11">wi-wind-north-west</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-wind-north"></i>
         </div>
         <div class="col-xs-11">wi-wind-north</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-wind-south-east"></i>
         </div>
         <div class="col-xs-11">wi-wind-south-east</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-wind-south-west"></i>
         </div>
         <div class="col-xs-11">wi-wind-south-west</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-wind-south"></i>
         </div>
         <div class="col-xs-11">wi-wind-south</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-wind-west"></i>
         </div>
         <div class="col-xs-11">wi-wind-west</div>
      </div>
      <div class="row">
         <div class="col-xs-1 text-md"><i class="wi wi-windy"></i>
         </div>
         <div class="col-xs-11">wi-windy</div>
      </div>
   </div>
</div>