<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Event Aggregation Framework">
    <meta name="author" content="Fogmine, LLC">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png')}}">

    <title>Evented</title>

    <!-- Bootstrap core CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='js/bower_components/html5shiv/dist/html5shiv.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bower_components/respond/dist/respond.min.js') }}"></script>
    <![endif]-->

    <!-- Fontawesome CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

    <!-- Security Dashboard CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  </head>

  <body>

    <div id="site-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <i style="color: white;" class="fa fa-navicon fa-lg"></i>  
          </button>
        </div>
        <a class="navbar-brand" href="/">Evented</a>
        <div class="collapse navbar-collapse ">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/#edit">Edit</a></li>
            <li><a href="/#view">View</a></li>
          </ul>

        </div><!--/.nav-collapse -->

      </div>
    </div>

    <div class="container content">
      {% block content %}

      {% endblock content %}

    </div><!-- /.container -->

    {% block scripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bower_components/handlebars/handlebars.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bower_components/ember/ember.min.js') }}"></script>
    {% endblock scripts %}
  </body>
</html>
